{% load static %}
<!-- special products -->
<section id="special" class="py-5">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">From Our Shop</h2>
        </div>

        <div class="special-list row g-0">
            {% for product in special_products %}
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="special-img position-relative overflow-hidden">
                    <img src="{{ product.image.url }}" class="w-100">
                    
                </div>
                <div class="text-center">
                    <p class="text-capitalize mt-3 mb-1">{{ product.name }}</p>
                    <span class="fw-bold d-block">Rs. {{ product.price }}</span>
                    <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end of special products -->
